{% load static %}

<div class="container marketing">
    <hr class="featurette-divider">
    <div class="row">
        <h1 class="display-5 fw-bold text-center mb-8">About Our Artist</h1>
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading lh-2">Urmi Vaviya <br> <span class="text-muted">Work's Hard, is
                        Dedicated, Passionate about Work.</span></h2>
                <p class="lead">"There is no definition of beauty, but when you can see someone's spirit coming
                    through, something unexplainable. that's beautiful to me."</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                    src="{% static 'images/homeimg/favartist1.jpg' %}" focusable="false">
                </img>
            </div>
        </div>

    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading lh-2">Artist who are. <br><span class="text-muted">Energetic, Always Ready
                    to Go & love to travel.</span></h2>
            <p class="lead">"Choose a job you love and you'll never work a day in your life"</p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                src="{% static 'images/homeimg/favartist2.gif' %}" focusable="true">
            </img>
        </div>
    </div>
    <hr class="featurette-divider">
</div>
