{% load static %}

<div class="footer pt-11 pb-3 bg-primary text-body">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-6">
                <div class="mb-4">
                    <h4 class="mb-4 text-white">About</h4>
                    <ul class="list-unstyled list-group">
                        <li class="list-group-item"><a href="/socmapp/about" class="list-group-item-link">About Us</a>
                        </li>
                        <li class="list-group-item"><a href="/socmapp/contact" class="list-group-item-link">Meet Us</a>
                        </li>
                        <li class="list-group-item"><a href="/socmapp/contact" class="list-group-item-link">Book an
                                Appointment</a>
                        </li>
                        <li class="list-group-item"><a href="" class="list-group-item-link">Social Feed</a></li>
                        <li class="list-group-item"><a href="/socmapp/contact" class="list-group-item-link">Contact
                                Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="mb-4">
                    <h4 class="mb-4 text-white ">Want to See More</h4>
                    <ul class="list-unstyled list-group ">
                        <li class="list-group-item"><a href="/socmapp/work" class="list-group-item-link">Galley</a></li>
                        <li class="list-group-item"><a href="/socmapp/wedding"
                                class="list-group-item-link">Service</a></li>
                        <li class="list-group-item"><a href="/socmapp/work" class="list-group-item-link">Block</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="mb-4">
                    <h4 class="mb-4 text-white ">Get in Touch</h4>
                    <ul class="list-unstyled list-group ">
                        <li class="list-group-item"><a
                                href="https://api.whatsapp.com/send?phone=+91 9967558199&text=Hii There! i want to book an appoinment for my wedding day. PLEASE CALL/REVERT ME BACK.&app_absent=0"" class="
                                list-group-item-link" target="_blank">+91 9967558199</a></li>
                        <li class="list-group-item"><a href="mailto:splashofcolormakeup03@gmail.com" class="list-group-item-link">splashofcolormakeup03@gmail.com</a>
                        </li>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="mb-4">
                    <h4 class="mb-4 text-white ">Follow Me</h4>
                    <ul class="list-unstyled list-group">
                        <li class="list-group-item"><a href="https://www.instagram.com/splash_of_color_makeup/"
                                class="list-group-item-link" target="_blank"><i class="bi bi-instagram"></i> Instagram</a></li>
                        <!--<li class="list-group-item"><a href="https://www.instagram.com/splash_of_color_makeup/" class="list-group-item-link"target="_blank"><i
                                    class="bi bi-facebook"></i> Facebook</a></li>
                        <li class="list-group-item"><a href="#" class="list-group-item-link" target="_blank"><i
                                    class="bi bi-linkedin"></i> LinkedIn</a></li>
                        <li class="list-group-item"><a href="#" class="list-group-item-link" target="_blank"><i
                                    class="bi bi-youtube"></i> YouTube</a></li>
                        <li class="list-group-item"><a href="#" class="list-group-item-link" target="_blank"><i
                                    class="bi bi-twitter"></i> Twitter</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
